

.bd {
    padding-top: 10px;
    background: radial-gradient(97.91% 60.14% at 50% 50%, #FFDB7E 0%, #FF7A00 100%);
    height: 1104px;
}

.sk {

    /* Header */
    font-family: 'iCiel Koni';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    /* identical to box height, or 104% */


    /* W */

    color: #FFFFFF;
}

.inf {
    background: #FFF6D4;
    border-radius: 7%;
    height: 606px;
    width: 926px;




}

.infove {
    background: #FFF6D4;
    height: 584px;
    border-radius: 10%;
    height: 165px;
    width: 515px;
}

.in {

    position: absolute;
    width: 398px;
    height: 56px;
    left: 25px;
    top: 60px;

    /* W */

    background: #FFFFFF;
    /* inner shadow */

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
}

.dc {

    width: 491px;
    height: 58px;

    /* W */

    background: #FFFFFF;
    /* inner shadow */

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.note {
    margin-top: 20px;
    width: 820px;
    height: 152px;
    left: 100px;
    top: 319px;
    margin-left: 90px;


    /* W */

    background: #FFFFFF;
    /* inner shadow */

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;

}

.bt {
    position: absolute;
    left: 28%;
    right: 0%;
    top: 82%;
    bottom: 10.49%;
    height: 60.868553161621094px;
    width: 368.01788330078125px;
    color: #FFFFFF;
    background: #FF000A;

    font-family: 'iCiel Koni';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 41px;
    letter-spacing: 0.06em;

}

.text {
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 50px;
}

.ins {
    margin-top: 50px;

}

.alex {
    position: absolute;
    width: 464px;
    height: 594px;
    left: -70px;
    top: 387px;
}