.event1 {
    background: #FFF6D4;
    border-radius: 45px;
    padding: 30px;
    padding-top: 80px;
    margin-top: 100px;
    margin-left: 200px;
    height: 623.2723388671875px;
    width: 1519px;
    
}